[submodule "testtools/ctest"]
	path = testtools/ctest
	url = https://github.com/Azure/azure-ctest.git
[submodule "deps/libwebsockets"]
	path = deps/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
[submodule "testtools/umock-c"]
	path = testtools/umock-c
	url = https://github.com/Azure/umock-c.git
[submodule "testtools/azure-c-testrunnerswitcher"]
	path = testtools/azure-c-testrunnerswitcher
	url = https://github.com/Azure/azure-c-testrunnerswitcher.git
