################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/build_all/windows/nuget.exe
/cmake
/devdoc/~$o_requirements.docm
/.vscode
/.vs
*.jar
*.aps
/res
/testtools/SerialPort/SerialPort/obj/
/tools/compilembed/obj/
/tools/macro_utils_h_generator/obj/
